[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "Tencent Cloud"

[dev-packages]
pytest = "*"
"flake8" = "*"
yapf = "*"
rope = "*"
mypy = "*"
pytest-cov = "*"
twine = "*"
setuptools = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
tests = "pipenv run pytest tests -svv --cov=html_dsl --cov-report=xml --cov-report=html"
cov = "pipenv run coverage report -m --fail-under=99"
lint = "pipenv run flake8"
